html {
	font-size: 80%;
	height: 300px;
  width: 2000px;
}
body {
	font-size: 1.5rem;
	height: 200px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

header,

header {
	top: 0px;
}

div{
  display: flex;
  justify-content: left;
  }

